<h2>Iniciar sesion en basic login<h2>
<% content_for :stylesheet do %>
    <%= stylesheet_link_tag 'page_basic' %>
<% end %>
  
  <!-- Resto del HTML de la vista "basic" -->
<%= form_with url: basic_login_path, local: true do |f| %>
    <div>
        <%= f.label :username %>
        <%= f.text_field :username, autofocus: true %>
    </div>

    <div>
        <%= f.label :password %>
        <%= f.password_field :password %>
    </div>

    <div id="iniciar-sesion">
        <%= f.submit "Iniciar sesion" %>
    </div>
<% end %>
